In [208]:
#Entrega 3  Práctica árboles decisión
#TAA LAB 3 - 10 marzo
#Miguel Chaveinte Garcia

In [209]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz,export_text
from sklearn.utils.multiclass import type_of_target
from scipy.stats import entropy

In [210]:
tabla = pd.DataFrame(columns=['Presion','Clase'],index=np.arange(6))

In [211]:
tabla.Presion=[40,48,60,72,80,90]
tabla.Clase=['+','+','-','-','-','+']

In [212]:
tabla

   Presion Clase
0       40     +
1       48     +
2       60     -
3       72     -
4       80     -
5       90     +

In [213]:
H = entropy(tabla.Clase.value_counts(normalize = True), base = 2)
H

1.0

In [214]:
tabla1 = tabla
tabla1.Presion = np.digitize(tabla.Presion, bins = [(48 + 60) / 2])
tabla1

   Presion Clase
0        0     +
1        0     +
2        1     -
3        1     -
4        1     -
5        1     +

In [215]:
l1 = len(tabla1)
G1 = H
for v in tabla1.Presion.unique():
    Class1 = tabla1.loc[tabla1.Presion == v]
    #print(Class1)
    G1 -= (len(Class1)/l1)*entropy(Class1.iloc[:, -1].value_counts(normalize=True), base = 2)
G1

0.4591479170272448

In [216]:
tabla.Presion = [40, 48, 60, 72, 80, 90]
tabla

   Presion Clase
0       40     +
1       48     +
2       60     -
3       72     -
4       80     -
5       90     +

In [217]:
tabla2 = tabla
tabla2.Presion = np.digitize(tabla.Presion, bins = [(80 + 90) / 2])
tabla2

   Presion Clase
0        0     +
1        0     +
2        0     -
3        0     -
4        0     -
5        1     +

In [218]:
l2 = len(tabla2)
G2 = H
for v in tabla2.Presion.unique():
    Class2 = tabla2.loc[tabla2.Presion == v]
    #print(table)
    G2 -= (len(Class2) / l2) * entropy(Class2.iloc[:, -1].value_counts(normalize = True), base = 2)
G2

0.19087450462110933


Como G1 > G2, se escogerá la primera cota de digitalización (Presión = 54)

In [219]:
tabla.Presion = [40, 48, 60, 72, 80, 90]

In [220]:
clf = DecisionTreeClassifier(max_leaf_nodes = 2, criterion = 'entropy')

In [221]:
clf.fit(np.array(tabla.Presion).reshape(-1, 1), tabla.Clase)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=2,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [222]:
txt = export_text(clf, feature_names = ['Presionn'])
print(txt)

|--- Presionn <= 54.00
|   |--- class: +
|--- Presionn >  54.00
|   |--- class: -

In [223]:
print('---------------------------------------------------------------------------------------------')

---------------------------------------------------------------------------------------------

In [224]:
print('PARTE 2')

PARTE 2

PREGUNTA 1:
La razón por la cual no se puede aplicar el algoritmo ID3 sobre el mismo es la existencia de atributos de naturaleza numérica, para los cuales dicho algoritmo no esta diseñado. Por lo tanto,para que la clasificación con este algoritmo pueda llevarse a cabo,será necesaria una tarea de adaptación previa del conjunto de datos a los requisitos de ID3.

PREGUNTA 2:

In [225]:
import numpy as np
import pandas as pd
from re import findall, finditer

In [226]:
with open('./Escritorio/labTAA/lab3/documento.txt') as file:
    documento = file.read()

In [227]:
documento

'PRE9 = T\n|   PRE11 = T: T (2.0)\n|   PRE11 = F\n|   |   PRE6 = PRZ2: T (2.0/1.0)\n|   |   PRE6 = PRZ1\n|   |   |   PRE10 = T\n|   |   |   |   PRE7 = T: T (2.0/1.0)\n|   |   |   |   PRE7 = F\n|   |   |   |   |   PRE8 = T\n|   |   |   |   |   |   DGN = DGN3: T (3.0/1.0)\n|   |   |   |   |   |   DGN = DGN2: F (2.0)\n|   |   |   |   |   |   DGN = DGN4: F (0.0)\n|   |   |   |   |   |   DGN = DGN6: F (0.0)\n|   |   |   |   |   |   DGN = DGN5: F (0.0)\n|   |   |   |   |   |   DGN = DGN8: F (0.0)\n|   |   |   |   |   |   DGN = DGN1: F (0.0)\n|   |   |   |   |   PRE8 = F: F (11.0)\n|   |   |   PRE10 = F: F (5.0)\n|   |   PRE6 = PRZ0: T (4.0/1.0)\nPRE9 = F\n|   PRE17 = T\n|   |   PRE8 = T: T (4.0/1.0)\n|   |   PRE8 = F\n|   |   |   AGE <= 65\n|   |   |   |   PRE11 = T: T (3.0)\n|   |   |   |   PRE11 = F\n|   |   |   |   |   PRE14 = OC11: F (5.0)\n|   |   |   |   |   PRE14 = OC14: T (1.0)\n|   |   |   |   |   PRE14 = OC12\n|   |   |   |   |   |   AGE <= 62: F (7.0/1.0)\n|   |   |   |   |   |   AGE > 62: T (2.0)\n|   |   |   |   |   PRE14 = OC13: F (0.0)\n|   |   |   AGE > 65: F (12.0)\n|   PRE17 = F\n|   |   DGN = DGN3\n|   |   |   PRE7 = T\n|   |   |   |   PRE10 = T: F (13.0/2.0)\n|   |   |   |   PRE10 = F\n|   |   |   |   |   PRE14 = OC11: F (2.0)\n|   |   |   |   |   PRE14 = OC14: T (1.0)\n|   |   |   |   |   PRE14 = OC12: T (2.0)\n|   |   |   |   |   PRE14 = OC13: T (0.0)\n|   |   |   PRE7 = F\n|   |   |   |   PRE14 = OC11: F (121.0/7.0)\n|   |   |   |   PRE14 = OC14: F (7.0/3.0)\n|   |   |   |   PRE14 = OC12\n|   |   |   |   |   PRE30 = T\n|   |   |   |   |   |   PRE10 = T\n|   |   |   |   |   |   |   PRE6 = PRZ2: F (4.0)\n|   |   |   |   |   |   |   PRE6 = PRZ1\n|   |   |   |   |   |   |   |   PRE25 = T: F (2.0)\n|   |   |   |   |   |   |   |   PRE25 = F\n|   |   |   |   |   |   |   |   |   PRE11 = T: F (16.0/1.0)\n|   |   |   |   |   |   |   |   |   PRE11 = F\n|   |   |   |   |   |   |   |   |   |   PRE8 = T\n|   |   |   |   |   |   |   |   |   |   |   PRE4 <= 2.88: T (3.0/1.0)\n|   |   |   |   |   |   |   |   |   |   |   PRE4 > 2.88: F (4.0)\n|   |   |   |   |   |   |   |   |   |   PRE8 = F: F (67.0/10.0)\n|   |   |   |   |   |   |   PRE6 = PRZ0: F (2.0)\n|   |   |   |   |   |   PRE10 = F: F (30.0/1.0)\n|   |   |   |   |   PRE30 = F: F (22.0)\n|   |   |   |   PRE14 = OC13: F (6.0/2.0)\n|   |   DGN = DGN2\n|   |   |   PRE30 = T\n|   |   |   |   PRE10 = T\n|   |   |   |   |   PRE6 = PRZ2: F (4.0/1.0)\n|   |   |   |   |   PRE6 = PRZ1\n|   |   |   |   |   |   PRE14 = OC11: F (5.0/1.0)\n|   |   |   |   |   |   PRE14 = OC14: F (3.0)\n|   |   |   |   |   |   PRE14 = OC12\n|   |   |   |   |   |   |   PRE8 = T: F (6.0/1.0)\n|   |   |   |   |   |   |   PRE8 = F: T (6.0/2.0)\n|   |   |   |   |   |   PRE14 = OC13: F (2.0)\n|   |   |   |   |   PRE6 = PRZ0: T (2.0)\n|   |   |   |   PRE10 = F: F (10.0/1.0)\n|   |   |   PRE30 = F: F (6.0)\n|   |   DGN = DGN4\n|   |   |   PRE11 = T\n|   |   |   |   PRE4 <= 2.66: T (3.0/1.0)\n|   |   |   |   PRE4 > 2.66: F (2.0)\n|   |   |   PRE11 = F\n|   |   |   |   PRE14 = OC11: F (10.0)\n|   |   |   |   PRE14 = OC14: F (0.0)\n|   |   |   |   PRE14 = OC12\n|   |   |   |   |   PRE5 <= 2.04\n|   |   |   |   |   |   AGE <= 70: T (3.0/1.0)\n|   |   |   |   |   |   AGE > 70: F (2.0)\n|   |   |   |   |   PRE5 > 2.04: F (19.0)\n|   |   |   |   PRE14 = OC13: F (1.0)\n|   |   DGN = DGN6: F (4.0)\n|   |   DGN = DGN5\n|   |   |   PRE8 = T: F (3.0)\n|   |   |   PRE8 = F\n|   |   |   |   PRE14 = OC11\n|   |   |   |   |   PRE10 = T: T (2.0)\n|   |   |   |   |   PRE10 = F: F (3.0/1.0)\n|   |   |   |   PRE14 = OC14: T (0.0)\n|   |   |   |   PRE14 = OC12: F (3.0/1.0)\n|   |   |   |   PRE14 = OC13: T (1.0)\n|   |   DGN = DGN8: T (2.0/1.0)\n|   |   DGN = DGN1: F (1.0)\n\n'

In [228]:
tabla = pd.read_csv('./Escritorio/labTAA/lab3/ThoraricSurgery.csv')
tabla.columns

Index(['DGN', 'PRE4', 'PRE5', 'PRE6', 'PRE7', 'PRE8', 'PRE9', 'PRE10', 'PRE11',
       'PRE14', 'PRE17', 'PRE19', 'PRE25', 'PRE30', 'PRE32', 'AGE', 'Risk1Yr'],
      dtype='object')

In [229]:
tabla

,DGN,PRE4,PRE5,PRE6,PRE7,PRE8,PRE9,PRE10,PRE11,PRE14,PRE17,PRE19,PRE25,PRE30,PRE32,AGE,Risk1Yr
0,DGN2,2.88,2.16,PRZ1,F,F,F,T,T,OC14,F,F,F,T,F,60,F
1,DGN3,3.40,1.88,PRZ0,F,F,F,F,F,OC12,F,F,F,T,F,51,F
2,DGN3,2.76,2.08,PRZ1,F,F,F,T,F,OC11,F,F,F,T,F,59,F
3,DGN3,3.68,3.04,PRZ0,F,F,F,F,F,OC11,F,F,F,F,F,54,F
4,DGN3,2.44,0.96,PRZ2,F,T,F,T,T,OC11,F,F,F,T,F,73,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,DGN2,3.88,2.12,PRZ1,F,F,F,T,F,OC13,F,F,F,T,F,63,F
466,DGN3,3.76,3.12,PRZ0,F,F,F,F,F,OC11,F,F,F,T,F,61,F
467,DGN3,3.04,2.08,PRZ1,F,F,F,T,F,OC13,F,F,F,F,F,52,F
468,DGN3,1.96,1.68,PRZ1,F,F,F,T,T,OC12,F,F,F,T,F,79,F
469,DGN3,4.72,3.56,PRZ0,F,F,F,F,F,OC12,F,F,F,T,F,51,F

In [230]:
for f in tabla.columns:
    if documento.find(f) == -1:
        print(f, '\tAtributo no utilizado')

PRE19 	Atributo no utilizado
PRE32 	Atributo no utilizado
Risk1Yr 	Atributo no utilizado

In [231]:
print("Árbol J48 sin prescindir de ningún atributo")

Árbol J48 sin prescindir de ningún atributo

<img src="./Escritorio/labTAA/lab3/j48_hold_outpreg2.png">

In [232]:
print("Árbol J48 eliminando el atributo PRE19 y PRE32")

Árbol J48 eliminando el atributo PRE19 y PRE32

<img src="./Escritorio/labTAA/lab3/J48_hold_out_eliminando.png">

PREGUNTA 3:Esta técnica del j48 ofrece mejores resultados que la aplicada anteriormente de discretización debido a que en este último caso la discretización se realiza a priori.Esto quiere decir que además de no poder apoyarse en los valores de la clas de destino para la clasificación, este atributo tan solo podrá ser utilizado una vez para la clasificación.

Por contra el algoritmo j48 realiza una técnica que aplica particionamientos binario y recursivo utilizando la Ganancia de Información como medida de bondad.La técnica de particionamiento recursivo de atributos numéricos permite una clasificación más eficiente ya que tan solo se produce cuando se maximiza la ganancia de información para dicha partición binaria.

PREGUNTA 4:

In [233]:
Atrib_Num = [tabla.columns[i] for i in [1,2,15]]
Atrib_Num

['PRE4', 'PRE5', 'AGE']

In [234]:
for atributo in Atrib_Num:
    b = []
    for pos in finditer(atributo+' '+'<= ', documento):
        print (atributo+' '+'<= ', pos.start(), pos.end())
        
        if documento[pos.end():].find(':') < documento[pos.end():].find('\n'):  #busca si en el txt si se ha bifurcado con una nueva division o no
            segmento = documento[pos.end():].find(':')
        else:
            segmento = documento[pos.end():].find('\n')
            
        b.append(float(documento[pos.end():pos.end()+segmento]))
        print(b[-1])
        b.sort()
    tabla[atributo] = [chr(65+i) for i in np.digitize(tabla[atributo], bins=b)]

PRE4 <=  1929 1937
2.88
PRE4 <=  2855 2863
2.66
PRE5 <=  3066 3074
2.04
AGE <=  710 717
65.0
AGE <=  922 929
62.0
AGE <=  3103 3110
70.0

In [235]:
tabla

,DGN,PRE4,PRE5,PRE6,PRE7,PRE8,PRE9,PRE10,PRE11,PRE14,PRE17,PRE19,PRE25,PRE30,PRE32,AGE,Risk1Yr
0,DGN2,C,B,PRZ1,F,F,F,T,T,OC14,F,F,F,T,F,A,F
1,DGN3,C,A,PRZ0,F,F,F,F,F,OC12,F,F,F,T,F,A,F
2,DGN3,B,B,PRZ1,F,F,F,T,F,OC11,F,F,F,T,F,A,F
3,DGN3,C,B,PRZ0,F,F,F,F,F,OC11,F,F,F,F,F,A,F
4,DGN3,A,A,PRZ2,F,T,F,T,T,OC11,F,F,F,T,F,D,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,DGN2,C,B,PRZ1,F,F,F,T,F,OC13,F,F,F,T,F,B,F
466,DGN3,C,B,PRZ0,F,F,F,F,F,OC11,F,F,F,T,F,A,F
467,DGN3,C,B,PRZ1,F,F,F,T,F,OC13,F,F,F,F,F,A,F
468,DGN3,A,A,PRZ1,F,F,F,T,T,OC12,F,F,F,T,F,D,F
469,DGN3,C,B,PRZ0,F,F,F,F,F,OC12,F,F,F,T,F,A,F

In [236]:
tabla.to_csv('./Escritorio/labTAA/lab3/Thoracic.Nominal_Discretizado.csv', index=False)

In [237]:
print("Árbol generado con id3 discretizado por particiones anteriores")

Árbol generado con id3 discretizado por particiones anteriores

<img src="./Escritorio/labTAA/lab3/id3_discretizado.png">

PREGUNTA 4: El árbol obtenido en este apartado ha presentado mejores resultados durante la fase de test(75,6% de acierto vs 75%). Los motivos por los que ha ocurrido dicho fenómeno pueden haber sido debidos a lo siguiente:

    - Los intervalos de particionamiento de los atributos de naturaleza numérica para su discretización han sido seleccionados de forma óptima según los resulados anteriores del algoritmo j48, que trata de maximizar la ganancia de información al realizar dicha tarea.
    
    - El árbol captura todas las posibles combinaciones en cada caso dado que la discretización se ha realizado a priori. Esto dependiendo del conjunto de datos, puede ser ser una ventaja o una desventaja debido a que en un gran número de ocasiones el sobreajuste que produce id3 es perjudicial para la tarea de clasificación, aunque en este caso no ha sido así.
    
Eso sí el tama